@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'StardewValley';
  src: url('/assets/fonts/Stardew_Valley.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/nunito.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* =======================================================
   CORES PERSONALIZADAS PARA AS TAGS DO BACKEND
======================================================= */
.cor-estacao {
  color: #d97706; /* Laranja escuro / Dourado */
  font-weight: 900;
}

.cor-clima {
  color: #0284c7; /* Azul forte */
  font-weight: 900;
}

.cor-local {
  color: #15803d; /* Verde floresta */
  font-weight: 900;
}